<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Upload file">
    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Upload <span class="caret"></span>
  </button>
  <ul class="dropdown-menu upload-save" role="menu">
    <li><a href="" id="upload-locale" title="Upload locale (yml)">Locale</a>​</li>
    <li><a href="" id="upload-draft" title="Upload draft (json)">Draft</a>​</li>
  </ul>
</div>