<%= form_tag translators_upload_file_path, id: 'load-form', remote: true do %>
  <%= file_field_tag "src_file", id: "src-file", style: "display: none;", accept: ".yml" %>
  <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
<% end %>

<div id='upload-button'>
	<div class="row" >
		<%= render 'upload_button' %>		
	</div>
</div>
	
<div id="transl-table"></div>



