<% if !flash.empty? %>
	cleanMessage();
  <% flash.each do |key, value| %>
    $( "#flash-message" ).addClass( "<%= "alert alert-#{key}" %>"  );
    $( "#flash-message" ).html( "<%= j "<button type='button' class='close'>&times;</button>#{flash.discard(key)}" %>" );
	<% end %>
  setTimeout( function() { cleanMessage(); }, 30000 );
<% else %>
	cleanMessage();
<% end %>