<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">

  	  <div class="navbar-header">
        <div class="navbar-brand">Locales Translator</div>
      </div>

      <% if !Translator.autotranslate_dirs.nil? %>
	  	  <%= content_tag(:span, "* MT enabled", title: "* Mashine translation enabled", class: 'label label-success') %>
		  <% else %>
		    <%= content_tag(:span, "MT disabled", title: "Mashine translation disabled", class: 'label label-warning') %>
			<% end %>

    </div>
  </nav>
</header>

